body{}

.wrapper{width: 100%; max-width: 950px; margin: 0 auto; position: relative;}
.clear{clear: both; display: block;}

a{margin: 0; padding: 0; text-decoration: none;}
a:hover{text-decoration: underline;}

.colorsLine{margin: 1px auto; width: 100%; height: 4px; background: url(../img/colorline.jpg) repeat-x; display: block; clear: both; position: relative;}
.whiteLine{height: 1px; width: 100%; background: white; display: block;}

/* =========== HEADER =========== */

#header{background: url(../img/colorline.jpg) repeat-x top; width: 100%; height: 170px;}

#header .social,
#header .meta{display: inline-block; margin: 40px 0 0 0;}

#header .meta{margin: 40px 0 0 80px;}

#header .social .facebook{margin: 0 -3px 0 0;}

#header .links{float: right; position: relative;}

#header .wrapper{height: 116px;}

#header h1{background: url(../img/medappcare.jpg) no-repeat; width: 304px; height: 73px; display: block; text-indent: -9999px; float: left; position: relative; margin: 20px 0 0 0;}
#header a{margin: 0 12px 0 0;}
#header nav{background: #0F6EB4; width: 100%; height: 54px; display: block; border-bottom: 1px solid white;}
#header nav ul{padding: 0; margin: 0 auto; width: 100%; max-width: 950px;}
#header nav li{list-style: none; display: inline-block; height: auto; width: auto;}
#header nav a{border-left: 1px solid white; height: 54px; min-width: 54px; margin: 0 -4px 0 0; text-align: center; vertical-align: middle; position: relative; line-height: 50px; padding: 0 22px; display: block;}
#header .language{margin: 0 !important;}
#header nav .home a, #header nav .search a{padding: 0;}
#header .picto{padding: 0 22px 0 0;}

/* =========== MEGA MENU =========== */



/* =========== SLIDER =========== */

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; position: relative; overflow: hidden; z-index: 3;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; margin: -15px 0 0 0;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider{background: white; position: relative; zoom: 1; padding: 0;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a {width: 20px; height: 40px; margin: -35px 0 0; display: block; background: #000; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {right: -36px; background: url(../img/sliderNavRight.png) no-repeat;}
.flex-direction-nav .flex-prev {left: -36px; background: url(../img/sliderNavLeft.png) no-repeat;}
.flexslider:hover .flex-next {opacity: 0.8; right: 15px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 15px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}



/* =========== PUSH PARTENAIRES =========== */

#pushFooter{min-height: 365px; background: white; text-align: center; position: relative; padding: 0; margin: 1px 0 0 0;}
#pushFooter li{list-style: none; display: inline-block; width: 195px; min-height: 265px; position: relative; margin: 50px 18px; vertical-align: top;}

#pushFooter h4{margin: 10px auto; position: relative; display: block; height: 50px;}
#pushFooter p{padding: 15px; position: absolute; bottom: 0;}

#pushFooter li.medappcare{background: #79c1d2;}
#pushFooter li.professionnels{background: #e05d5f;}
#pushFooter li.dev{background: #84c790;}
#pushFooter li.partners{background: #d769af;}

#pushFooter li.medappcare p{background: #4c8d9f;}
#pushFooter li.professionnels p{background: #bd3437;}
#pushFooter li.dev p{background: #558c61;}
#pushFooter li.partners p{background: #9b467d;}

#pushFooter .picto{display: block; margin: 20px auto;}

#pushFooter li.medappcare .picto{background: url(../img/picto_medappcare.png) no-repeat; width: 54px; height: 62px;}
#pushFooter li.professionnels .picto{background: url(../img/picto_pros.png) no-repeat; width: 61px; height: 51px;}
#pushFooter li.dev .picto{background: url(../img/picto_dev.png) no-repeat; width: 64px; height: 55px;}
#pushFooter li.partners .picto{background: url(../img/picto_partners.png) no-repeat; width: 55px; height: 46px;}


/* =========== LISTE PARTENAIRES =========== */
#partners{background: #ededed; min-height: 215px; text-align: center; padding: 1px 0 0 0;}

#partners h3{margin: 30px auto; position: relative;}
#partners ul{height: 180px; display: block; width: 100%;}
#partners li{list-style: none; display: inline-block; padding: 0; margin: 0 15px; vertical-align: middle;}
#partners a{display: block; width: 140px; height: 50px; background: #333;}


/* =========== FOOTER =========== */

#footer{background: #0f6eb4; padding: 1px 0 30px 0; position: relative;}
#footer .footer_medappcare{display: block; margin: 20px auto; position: relative; background: url(../img/footer_medappcare.png) no-repeat; width: 100px; height: 67px;}
#footer .left a{line-height: 25px;}
#footer h5{line-height: 30px; width: 100%; display: block;}

#footer .left, #footer .right{float: left; position: relative;}

#footer .left{max-width: 315px; width: 30%;}
#footer .right{max-width: 630px; width: 80%; padding: 0 0 0 20px;}

#footer .grandPublic{border-bottom: 1px solid white; padding: 0 0 15px 0;}
#footer .professionnal{margin: 15px 0 0 0;}

#footer .right ul{display: inline-block; position: relative; width: 130px; padding: 10px; vertical-align: top;}
#footer .right li{padding: 0 0 0 10px;}

.copyright{text-align: center; padding: 15px 0 20px 0; margin: 0 auto;}


/* =========== PICTO OS =========== */

.os span{display: inline-block; position: relative; vertical-align: middle; text-indent: -9999px; margin: 25px 0 0 0;}

.android{background: url(../img/android_blue.png) no-repeat; width: 32px; height: 29px;}
.ios{background: url(../img/ios_blue.png) no-repeat; width: 16px; height: 29px;}
.webapp{background: url(../img/web_blue.png) no-repeat; width: 18px; height: 27px;}

.masante .android{background: url(../img/android_lightblue.png) no-repeat;}
.masante .ios{background: url(../img/ios_lightblue.png) no-repeat;}
.masante .webapp{background: url(../img/web_lightblue.png) no-repeat;}

.monquotidien .android,
#listApps .listapps.pourlespros .android{background: url(../img/android_red.png) no-repeat;}
.monquotidien .ios,
#listApps .listapps.pourlespros .ios{background: url(../img/ios_red.png) no-repeat;}
.monquotidien .web,
#listApps .listapps.pourlespros .web{background: url(../img/web_red.png) no-repeat;}

.minformer .android{background: url(../img/android_green.png) no-repeat;}
.minformer .ios{background: url(../img/ios_green.png) no-repeat;}
.minformer .web{background: url(../img/web_green.png) no-repeat;}

.medeplacer .android,
#listApps .listapps.pourlesgens .android{background: url(../img/android_pink.png) no-repeat;}
.medeplacer .ios,
#listApps .listapps.pourlesgens .ios{background: url(../img/ios_pink.png) no-repeat;}
.medeplacer .web,
#listApps .listapps.pourlesgens .web{background: url(../img/web_pink.png) no-repeat;}

/* À PRIORI ÇA NE SERT À RIEN ICI....
.lespros .android{background: url(../img/android_gold.png) no-repeat;}
.lespros .ios{background: url(../img/ios_gold.png) no-repeat;}
.lespros .web{background: url(../img/web_gold.png) no-repeat;}
*/


/* =========== PICTO NOTES =========== */

.note span{display: inline-block; position: relative; margin: 20px 10px 0 10px; text-indent: -9999px;}

.zero{background: url(../img/notes_blue.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.un{background: url(../img/notes_blue.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.deux{background: url(../img/notes_blue.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.trois{background: url(../img/notes_blue.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.quatre{background: url(../img/notes_blue.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.cinq{background: url(../img/notes_blue.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.six{background: url(../img/notes_blue.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.sept{background: url(../img/notes_blue.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.huit{background: url(../img/notes_blue.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.neuf{background: url(../img/notes_blue.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.dixsurdix{background: url(../img/notes_blue.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.masante .zero{background: url(../img/notes_lightblue.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.masante .un{background: url(../img/notes_lightblue.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.masante .deux{background: url(../img/notes_lightblue.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.masante .trois{background: url(../img/notes_lightblue.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.masante .quatre{background: url(../img/notes_lightblue.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.masante .cinq{background: url(../img/notes_lightblue.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.masante .six{background: url(../img/notes_lightblue.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.masante .sept{background: url(../img/notes_lightblue.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.masante .huit{background: url(../img/notes_lightblue.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.masante .neuf{background: url(../img/notes_lightblue.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.masante .dixsurdix{background: url(../img/notes_lightblue.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.monquotidien .zero,
#listApps .listapps.pourlespros .zero{background: url(../img/notes_red.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.monquotidien .un,
#listApps .listapps.pourlespros .un{background: url(../img/notes_red.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.monquotidien .deux,
#listApps .listapps.pourlespros .deux{background: url(../img/notes_red.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.monquotidien .trois,
#listApps .listapps.pourlespros .trois{background: url(../img/notes_red.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.monquotidien .quatre,
#listApps .listapps.pourlespros .quatre{background: url(../img/notes_red.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.monquotidien .cinq,
#listApps .listapps.pourlespros .cinq{background: url(../img/notes_red.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.monquotidien .six,
#listApps .listapps.pourlespros .six{background: url(../img/notes_red.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.monquotidien .sept,
#listApps .listapps.pourlespros .sept{background: url(../img/notes_red.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.monquotidien .huit,
#listApps .listapps.pourlespros .huit{background: url(../img/notes_red.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.monquotidien .neuf,
#listApps .listapps.pourlespros .neuf{background: url(../img/notes_red.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.monquotidien .dixsurdix,
#listApps .listapps.pourlespros .dixsurdix{background: url(../img/notes_red.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.minformer .zero{background: url(../img/notes_green.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.minformer .un{background: url(../img/notes_green.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.minformer .deux{background: url(../img/notes_green.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.minformer .trois{background: url(../img/notes_green.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.minformer .quatre{background: url(../img/notes_green.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.minformer .cinq{background: url(../img/notes_green.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.minformer .six{background: url(../img/notes_green.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.minformer .sept{background: url(../img/notes_green.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.minformer .huit{background: url(../img/notes_green.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.minformer .neuf{background: url(../img/notes_green.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.minformer .dixsurdix{background: url(../img/notes_green.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.medeplacer .zero,
#listApps .listapps.pourlesgens .zero{background: url(../img/notes_pink.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.medeplacer .un,
#listApps .listapps.pourlesgens .un{background: url(../img/notes_pink.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.medeplacer .deux,
#listApps .listapps.pourlesgens .deux{background: url(../img/notes_pink.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.medeplacer .trois,
#listApps .listapps.pourlesgens .trois{background: url(../img/notes_pink.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.medeplacer .quatre,
#listApps .listapps.pourlesgens .quatre{background: url(../img/notes_pink.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.medeplacer .cinq,
#listApps .listapps.pourlesgens .cinq{background: url(../img/notes_pink.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.medeplacer .six,
#listApps .listapps.pourlesgens .six{background: url(../img/notes_pink.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.medeplacer .sept,
#listApps .listapps.pourlesgens .sept{background: url(../img/notes_pink.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.medeplacer .huit,
#listApps .listapps.pourlesgens .huit{background: url(../img/notes_pink.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.medeplacer .neuf,
#listApps .listapps.pourlesgens .neuf{background: url(../img/notes_pink.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.medeplacer .dixsurdix,
#listApps .listapps.pourlesgens .dixsurdix{background: url(../img/notes_pink.png) -170px -244px no-repeat; width: 42px; height: 42px;}

/* À PRIORI ÇA NE SERT À RIEN ICI....
.lespros .zero{background: url(../img/notes_gold.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.lespros .un{background: url(../img/notes_gold.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.lespros .deux{background: url(../img/notes_gold.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.lespros .trois{background: url(../img/notes_gold.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.lespros .quatre{background: url(../img/notes_gold.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.lespros .cinq{background: url(../img/notes_gold.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.lespros .six{background: url(../img/notes_gold.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.lespros .sept{background: url(../img/notes_gold.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.lespros .huit{background: url(../img/notes_gold.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.lespros .neuf{background: url(../img/notes_gold.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.lespros .dixsurdix{background: url(../img/notes_gold.png) -170px -244px no-repeat; width: 42px; height: 42px;}
*/









