body{font-family: 'PT Sans', arial, sans-serif; color: #111313;}

#header{font-size: 16px; font-weight: 700;}
#header a {color: white;}
#header > nav a, #header .links a{text-decoration: none; text-align: center;}
#header .links a{line-height: 40px;}
#header > nav li{color: white; font-size: 22px; text-decoration: none; text-align: center;}
#dropdown a {font-weight: normal; font-size: 1.1em;}
#dropdown .sponsored-selection .sponsored-indicator {font-weight: normal; color:white; font-size: .6em;}

#header .modal form a {color:#333; font-weight: normal; font-size: .8em;}

header form.search-form input {font-family: 'PT Sans', arial, sans-serif; font-size: 1.2em; line-height: 1.4em;}

#selections h2{font-size: 30px; color: #0f6eb4;}

#listApps h2{color: #0f6eb4; font-size: 24px;}
#listApps .listapps h3,
#listApps .allapps h3{color: white; font-size: 24px;}
#listApps .metapp a{color: #111313; font-size: 18px;}
#listApps .metaFooter a{color: white; text-decoration: none; font-weight: 700; font-size: 14px; line-height: 26px;}
#listApps .metaFooter a:hover{text-decoration: underline;}
#listApps .price{font-size: 12px; color: white;}
#listApps .category{font-size: 14px;}
#listApps .category a{color: #0f6eb4; font-size: 14px;}

#listApps .allapps.catmasante .category a{color: #79c1d2;}
#listApps .allapps.catmonquotidien .category a{color: #e05d5f;}
#listApps .allapps.catminformer .category a{color: #84c790;}
#listApps .allapps.catmedeplacer .category a{color: #d769af;}

#listApps .filter .gratuit,
#listApps .filter .payant{color: white; font-size: 14px; font-weight: 700;}

#devices h2{color: #0f6eb4; font-size: 24px;}
#devices .metapp a{color: #111313; font-size: 18px;}
#devices .excerpt{font-size: 12px; margin: 10px 0;}
#devices .category{font-size: 14px;}
#devices .category a{color: #0f6eb4; font-size: 14px;}
#devices .price{font-size: 12px; color: white;}
#devices .metaFooter a{color: #787878; text-decoration: none; font-weight: 700; font-size: 14px; line-height: 26px;}
#devices .metaFooter a:hover{text-decoration: underline;}

.app.monquotidien #devices h3{color: #e05d5f;}
.app.minformer #devices h3{color: #84c790;}
.app.medeplacer #devices h3{color: #d769af;}

.app #devices .metaFooter a{color: #0f6eb4;}
.app.monquotidien #devices .category a,
.app.monquotidien #devices .metaFooter a{color: #e05d5f;}
.app.minformer #devices .category a,
.app.minformer #devices .metaFooter a{color: #84c790;}
.app.medeplacer #devices .category a,
.app.medeplacer #devices .metaFooter a{color: #d769af;}

.app .description{font-size: 18px; color: black;}
.app .description h3{margin: 20px 0;}

.app .qrcode span{font-size: 10px; font-weight: 700;}

.app .buttons a{color: white; font-size: 16px; font-weight: 700;}
.app .price{font-size: 12px; color: white; text-indent: 0; font-weight: 700;}






#news h2{color: #0f6eb4; font-size: 24px;}
#news h4 a{color: #111313; font-size: 18px;}
#news .date{font-size: 12px; color: #9c9c9c; margin: 10px 0 20px 0; display: block;}
#news .category{font-size: 12px;}
#news .category a{color: #9c9c9c; font-size: 12px;}
#news .metaFooter a{color: #787878; text-decoration: none; font-weight: 700; font-size: 14px; line-height: 26px;}
#news .metaFooter a:hover{text-decoration: underline;}

#pushFooter h4{font-size: 20px; color: white; text-align: center;}
#pushFooter p{font-size: 14px; color: white; text-align: justify;}

#partners h3{font-size: 24px; color: #0f6eb4;}

#footer{color: white; font-size: 14px;}
#footer a{color: white;}
#footer a:hover{text-decoration: underline;}

#footer h5{font-size: 1.3em;}
#footer h6{font-size: 1em; line-height: 2em;}
#footer li{font-size: 12px; line-height: 1.5em; font-weight: normal;}

#footer .left li{font-weight: 700; font-size: 14px;}

.copyright{font-size: 14px; color: #0f6eb4;}

.title{font-size: 30px; color: white;}
.title a{color: white; font-size: 14px;}
.title a:hover{text-decoration: underline;}
.title a span{font-weight: normal;}


/* ESPACE PROS */

#listApps .listapps.pourlespros .category a{color: #e05d5f;}
#listApps .listapps.pourlesgens .category a{color: #d769af;}