

/* =========== NOS SELECTIONS =========== */

#selections{background: #ededed; height: auto; text-align: center; position: relative; padding: 1px 0; margin: 1px 0 0 0;}
#selections h3{margin: 25px 0; position: relative; display: block;}
#selections ul{position: relative; min-height: 165px;}
#selections li{padding: 0; margin: 0 18px; list-style: none; display: inline-block; height: 100px; width: 195px; border: 1px solid #474747; text-indent: -9999px;}
#selections .underline{display: block; margin: 10px 0 0 0; width: 100%; height: 5px; background: #474747; position: relative;}

#selections a{display: block; width: 100%; height: 100%; background: #999; margin: 0; padding: 0;}


/* =========== LISTE APPS (commun) =========== */


#listApps{min-height: 740px;}

#listApps .listapps{width: 447px; height: auto; margin: 50px 0 0 0; float: left; position: relative;}
#listApps .listapps h3{background: #0f6eb4; padding: 0 15px; line-height: 50px; border: 1px solid #0f6eb4;}

#listApps ul{border-left: 1px solid #0f6eb4; border-right: 1px solid #0f6eb4;}
#listApps li{list-style: none; display: block; border-bottom: 1px solid #0f6eb4; height: 80px; padding: 15px;}
#listApps li:last-child{border-bottom: none;}
#listApps .metaFooter{background: #0f6eb4; height: 28px; padding: 0 15px; }
#listApps .metaFooter a{float: right;}

#listApps .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #ededed; margin: 0 15px 0 0;}
#listApps .metapp{float: left; position: relative;}
#listApps .os{float: right; position: relative;}
#listApps .price{background: #0f6eb4; width: 40px; padding: 0 5px; line-height: 21px; text-align: center; margin: 13px 0;}

#listApps .note{width: 42px; height: 42px; float: left; position: relative; text-align: center; vertical-align: middle; margin: 0 0 0 30px;}

#listApps .topfive,
#listApps .pourlesgens{float: right;}

#listApps .featured{background: #aed6f3;}


/* =========== LISTE ALL APPS (category) =========== */

#listApps .allapps{width: 100%; height: auto; margin: 50px 0; display: block; position: relative; float: left; clear: both;}
#listApps .allapps h3{background: #79c1d2; border: 1px solid #79c1d2; line-height: 50px; padding: 0 15px;}

#listApps .allapps ul{border-left: 1px solid #79c1d2; border-right: 1px solid #79c1d2; padding: 0;}
#listApps .allapps li{border-bottom: 1px solid #79c1d2; width: 443px; float: left; margin: 0;}
#listApps .allapps li:nth-child(odd){border-right: 1px solid #79c1d2;}

#listApps .allapps .metaFooter{background: #79c1d2;}
#listApps .allapps .price{background: #79c1d2;}
#listApps .allapps .featured{background: #d9eef3;}

#listApps .allapps.catmonquotidien h3{background: #e05d5f; border: 1px solid #e05d5f;}
#listApps .allapps.catmonquotidien ul{border-left: 1px solid #e05d5f; border-right: 1px solid #e05d5f;}
#listApps .allapps.catmonquotidien li{border-bottom: 1px solid #e05d5f;}
#listApps .allapps.catmonquotidien li:nth-child(odd){border-right: 1px solid #e05d5f;}
#listApps .allapps.catmonquotidien .metaFooter{background: #e05d5f;}
#listApps .allapps.catmonquotidien .price{background: #e05d5f;}
#listApps .allapps.catmonquotidien .featured{background: #f1d2d2;}

#listApps .allapps.catminformer h3{background: #84c790; border: 1px solid #84c790;}
#listApps .allapps.catminformer ul{border-left: 1px solid #84c790; border-right: 1px solid #84c790;}
#listApps .allapps.catminformer li{border-bottom: 1px solid #84c790;}
#listApps .allapps.catminformer li:nth-child(odd){border-right: 1px solid #84c790;}
#listApps .allapps.catminformer .metaFooter{background: #84c790;}
#listApps .allapps.catminformer .price{background: #84c790;}
#listApps .allapps.catminformer .featured{background: #ceecd4;}

#listApps .allapps.catmedeplacer h3{background: #d769af; border: 1px solid #d769af;}
#listApps .allapps.catmedeplacer ul{border-left: 1px solid #d769af; border-right: 1px solid #d769af;}
#listApps .allapps.catmedeplacer li{border-bottom: 1px solid #d769af;}
#listApps .allapps.catmedeplacer li:nth-child(odd){border-right: 1px solid #d769af;}
#listApps .allapps.catmedeplacer .metaFooter{background: #d769af;}
#listApps .allapps.catmedeplacer .price{background: #d769af;}
#listApps .allapps.catmedeplacer .featured{background: #efe1ea;}



/* =========== LISTE APPS (filters) =========== */
#listApps .filter{position: absolute; right: 15px; top: 1px; height: 52px; display: block; z-index: 1;}
#listApps .filter a{display: inline-block; text-indent: -9999px; position: relative; margin: 12px 5px 0 5px; vertical-align: middle; width: 45px; height: 26px; z-index: 3;}
#listApps .filter .pardate{background: url(../img/pro_parDate.png) no-repeat center center;}
#listApps .filter .parnote{background: url(../img/pro_parNotes.png) no-repeat center center;}
#listApps .filter .gratuit,
#listApps .filter .payant{text-indent: 0; text-align: center; width: 45px; line-height: 27px;}
#listApps .filter a.actif span{display: block; height: 52px; position: absolute; top: -13px; left: 0; background: url(../img/filterON.png) no-repeat center center; width: 45px; z-index: 1;}


/* =========== ESPACE PRO - LISTE APPS (professionnels) =========== */

#listApps h2{text-align: center; margin: 25px 0 0 0; position: relative; display: block;}

/* on change tout en rouge */

#listApps .listapps.pourlespros h3{background: #e05d5f; border: 1px solid #e05d5f;}
#listApps .listapps.pourlespros ul{border-left: 1px solid #e05d5f; border-right: 1px solid #e05d5f;}
#listApps .listapps.pourlespros li{border-bottom: 1px solid #e05d5f;}
#listApps .listapps.pourlespros .metaFooter{background: #e05d5f;}
#listApps .listapps.pourlespros .price{background: #e05d5f;}
#listApps .listapps.pourlespros .featured{background: #f1d2d2;}

#listApps .listapps.pourlespros h3 span{display: inline-block; background: url(../img/pro_pourlespros.png) no-repeat; width: 29px; height: 31px; margin: 0 10px 0 0; vertical-align: middle;}

/* =========== ESPACE PRO - LISTE APPS (professionnels) =========== */

/* on change tout en rose */

#listApps .listapps.pourlesgens h3{background: #d769af; border: 1px solid #d769af;}
#listApps .listapps.pourlesgens ul{border-left: 1px solid #d769af; border-right: 1px solid #d769af;}
#listApps .listapps.pourlesgens li{border-bottom: 1px solid #d769af;}
#listApps .listapps.pourlesgens .metaFooter{background: #d769af;}
#listApps .listapps.pourlesgens .price{background: #d769af;}
#listApps .listapps.pourlesgens .featured{background: #efe1ea;}

#listApps .listapps.pourlesgens h3 span{display: inline-block; background: url(../img/pro_pourlesgens.png) no-repeat; width: 34px; height: 23px; margin: 0 10px 0 0; vertical-align: middle;}

/* =========== LISTE DEVICES (commun) =========== */

#devices{min-height: 380px; background: #ededed; display: block;}

#devices li{list-style: none; display: block; border-bottom: 1px solid white; height: 80px; padding: 15px; width: 415px; float: left; position: relative;}
#devices li:nth-child(even){float: right;}

#devices h3{padding: 0 15px; line-height: 52px; border-bottom: 1px solid white;}
#devices .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #333; margin: 0 15px 0 0;}
#devices .metapp{float: left; position: relative; width: 260px;}

#devices .price{background: #0f6eb4; width: 40px; padding: 0 5px; line-height: 21px; text-align: center; margin: 13px 0; float: right;}

#devices .metaFooter{background: #ededed; height: 28px; padding: 0 15px; }
#devices .metaFooter a{float: right;}

/* =========== NEWS =========== */

#news{background: white; min-height: 175px; border-bottom: 1px solid #a3a3a3; display: block;}

#news li{list-style: none; display: block; height: 80px; padding: 15px; width: 415px; float: left; position: relative;}
#news li:nth-child(even){float: right;}

#news h3{padding: 0 15px; line-height: 52px; border-bottom: 1px solid white;}
#news .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #333; margin: 0 15px 0 0;}
#news .metapp{float: left; position: relative; width: 260px;}

#news .metaFooter{height: 28px; padding: 0 15px; background: none;}
#news .metaFooter a{float: right;}