body{}



.wrapper{width: 100%; max-width: 950px; margin: 0 auto; position: relative;}
.clear{clear: both; display: block;}

a{margin: 0; padding: 0; text-decoration: none;}
a:hover{text-decoration: underline;}

.colorsLine{margin: 1px auto; width: 100%; height: 4px; background: url(../img/colorline.jpg) repeat-x; display: block; clear: both; position: relative;}
.whiteLine{height: 1px; width: 100%; background: white; display: block;}

.line{height: 1px; width: 100%; background: #79c1d2; display: block; margin: 50px 0;}
.monquotidien .line, .mapratique .line{background: #e05d5f;}
.minformer .line{background: #84c790;}
.medeplacer .line, .mespatients .line{background: #d769af;}

.right{float: right; position: relative;}
.left{float: left; position: relative;}

/* =========== HEADER =========== */

#header{background: url(../img/colorline.jpg) repeat-x top; width: 100%; }

#header .social,
#header .meta{display: inline-block; margin: 40px 0 0 0;}

#header .meta{margin: 40px 0 0 50px;}

#header .social .facebook{margin: 0 -3px 0 0;}

#header .links{float: right; position: relative;}

#header > .wrapper{height: 116px;}

#header h1{background: url(../img/medappcare.jpg) no-repeat; width: 304px; height: 73px; display: block; float: left; position: relative; margin: 20px 0 0 0;}
#header h1 a {display: block; width: 100%; height: 100%;}
#header h1 a span {display: none;}

.lespros #header h1{background: url(../img/medappcarepro.png) no-repeat; width: 345px;}

header > nav a, #header .links a{margin: 0 0 0 10px;}
header > nav{background: #0F6EB4; width: 100%; height: 54px; display: block;}
header > nav ul{padding: 0; margin: 0 auto; width: 950px; position: relative; display: table;}
header > nav li{list-style: none; display: table-cell; height: auto; width: auto;}
header > nav a{border-left: 1px solid white; height: 54px; min-width: 56px; margin: 0 -4px 0 0; text-align: center; vertical-align: middle; position: relative; line-height: 56px; padding: 0 22px; display: block;}
header .language{margin: 0 !important;}
header > nav .home a, #header nav .search a{padding: 0; margin: 0;}
header .picto{padding: 0 22px 0 0;}

/*.lespros #header nav a{padding: 0 20px;}*/

.lespros #header nav .home a, .lespros #header nav .search a{padding: 0;}

/* =========== SLIDER =========== */

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; position: relative; overflow: hidden; z-index: 3;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; margin: -15px 0 0 0;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider{background: white; position: relative; zoom: 1; padding: 0;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a {width: 20px; height: 40px; margin: -35px 0 0; display: block; background: #000; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {right: -36px; background: url(../img/sliderNavRight.png) no-repeat;}
.flex-direction-nav .flex-prev {left: -36px; background: url(../img/sliderNavLeft.png) no-repeat;}
.flexslider:hover .flex-next {opacity: 0.8; right: 15px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 15px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}



/* =========== PUSH PARTENAIRES =========== */

#pushFooter{min-height: 365px; background: white; text-align: center; position: relative; padding: 0; margin: 1px 0 0 0;}
#pushFooter li{list-style: none; display: inline-block; width: 195px; min-height: 265px; position: relative; margin: 50px 18px; vertical-align: top;}

#pushFooter h4{margin: 10px auto; position: relative; display: block; height: 50px;}
#pushFooter a:hover {text-decoration: none;}
#pushFooter p{padding: 15px; position: absolute; bottom: 0;}

#pushFooter li.medappcare{background: #79c1d2;}
#pushFooter li.professionnels{background: #e05d5f;}
#pushFooter li.dev{background: #84c790;}
#pushFooter li.partners{background: #d769af;}

#pushFooter li.medappcare p{background: #4c8d9f;}
#pushFooter li.professionnels p{background: #bd3437;}
#pushFooter li.dev p{background: #558c61;}
#pushFooter li.partners p{background: #9b467d;}

#pushFooter li:hover{opacity:0.8;}

#pushFooter .picto{display: block; margin: 20px auto;}

#pushFooter li.medappcare .picto{background: url(../img/picto_medappcare.png) no-repeat; width: 54px; height: 62px;}
#pushFooter li.professionnels .picto{background: url(../img/picto_pros.png) no-repeat; width: 61px; height: 51px;}
#pushFooter li.dev .picto{background: url(../img/picto_dev.png) no-repeat; width: 64px; height: 55px;}
#pushFooter li.partners .picto{background: url(../img/picto_partners.png) no-repeat; width: 55px; height: 46px;}


/* =========== LISTE PARTENAIRES =========== */

#partners{background: #ededed; min-height: 215px; text-align: center; padding: 1px 0 0 0;}

#partners h3{margin: 30px auto; position: relative;}
#partners ul{height: 120px; display: block; width: 100%;}
#partners li{list-style: none; display: inline-block; padding: 0; margin: 0 15px; vertical-align: middle;}
#partners a{display: block; width: 140px; height: 50px; background: #333;}


/* =========== FOOTER =========== */

#footer{background: #0f6eb4; padding: 1px 0 30px 0; position: relative;}
#footer .footer_medappcare{display: block; margin: 20px auto; position: relative; background: url(../img/footer_medappcare.png) no-repeat; width: 100px; height: 67px;}
#footer .left a{line-height: 25px;}
#footer h5{line-height: 30px; width: 100%; display: block;}

#footer .left, #footer .right{float: left; position: relative;}

#footer .left{max-width: 315px; width: 30%;}
#footer .right{max-width: 630px; width: 80%; padding: 0 0 0 20px;}

#footer .grandPublic{border-bottom: 1px solid white; padding: 0 0 15px 0;}
#footer .professionnal{margin: 15px 0 0 0;}

#footer .right ul{display: inline-block; position: relative; width: 130px; padding: 0 0 0 15px; vertical-align: top;}
#footer .right li{padding: 0 0 0 10px;}

#footer .languages{float: right}
#footer .languages a:not(.selected) {opacity: .8;}

.copyright{text-align: center; padding: 15px 0 20px 0; margin: 0 auto;}


/* =========== PICTO OS =========== */

.os span{display: block; position: relative; vertical-align: middle; text-indent: -9999px; margin: auto;}

.android{background: url(../img/android_blue.png) no-repeat; width: 32px; height: 29px;}
.ios{background: url(../img/ios_blue.png) no-repeat; width: 16px; height: 29px;}
.web{background: url(../img/web_blue.png) no-repeat; width: 18px; height: 27px;}

.masante .android, 
.administratif .android{background: url(../img/android_lightblue.png) no-repeat;}
.masante .ios, 
.administratif .ios{background: url(../img/ios_lightblue.png) no-repeat;}
.masante .web, 
.administratif .web{background: url(../img/web_lightblue.png) no-repeat;}

.monquotidien .android,
.mapratique .android,
#listApps .listapps.pourlespros .android{background: url(../img/android_red.png) no-repeat;}
.monquotidien .ios,
.mapratique .ios,
#listApps .listapps.pourlespros .ios{background: url(../img/ios_red.png) no-repeat;}
.monquotidien .web,
.mapratique .web,
#listApps .listapps.pourlespros .web{background: url(../img/web_red.png) no-repeat;}

.minformer .android{background: url(../img/android_green.png) no-repeat;}
.minformer .ios{background: url(../img/ios_green.png) no-repeat;}
.minformer .web{background: url(../img/web_green.png) no-repeat;}

.medeplacer .android,
.mespatients .android,
#listApps .listapps.pourlesgens .android{background: url(../img/android_pink.png) no-repeat;}
.medeplacer .ios,
.mespatients .ios,
#listApps .listapps.pourlesgens .ios{background: url(../img/ios_pink.png) no-repeat;}
.medeplacer .web,
.mespatients .web,
#listApps .listapps.pourlesgens .web{background: url(../img/web_pink.png) no-repeat;}

/* À PRIORI ÇA NE SERT À RIEN ICI....
.lespros .android{background: url(../img/android_gold.png) no-repeat;}
.lespros .ios{background: url(../img/ios_gold.png) no-repeat;}
.lespros .web{background: url(../img/web_gold.png) no-repeat;}
*/

/* =========== PICTO PRICE =========== */


/* =========== PICTO NOTES =========== */

.note span{display: inline-block; position: relative; text-indent: -9999px;}

.default .zero,
.zero{background: url(../img/notes_blue.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.default .un,
.un{background: url(../img/notes_blue.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.default .deux,
.deux{background: url(../img/notes_blue.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.default .trois,
.trois{background: url(../img/notes_blue.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.default .quatre,
.quatre{background: url(../img/notes_blue.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.default .cinq,
.cinq{background: url(../img/notes_blue.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.default .six,
.six{background: url(../img/notes_blue.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.default .sept,
.sept{background: url(../img/notes_blue.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.default .huit,
.huit{background: url(../img/notes_blue.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.default .neuf,
.neuf{background: url(../img/notes_blue.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.default .dixsurdix,
.dixsurdix{background: url(../img/notes_blue.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.masante .zero,
.administratif .zero{background: url(../img/notes_lightblue.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.masante .un,
.administratif .un{background: url(../img/notes_lightblue.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.masante .deux,
.administratif .deux{background: url(../img/notes_lightblue.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.masante .trois,
.administratif .trois{background: url(../img/notes_lightblue.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.masante .quatre,
.administratif .quatre{background: url(../img/notes_lightblue.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.masante .cinq,
.administratif .cinq{background: url(../img/notes_lightblue.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.masante .six,
.administratif .six{background: url(../img/notes_lightblue.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.masante .sept,
.administratif .sept{background: url(../img/notes_lightblue.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.masante .huit,
.administratif .huit{background: url(../img/notes_lightblue.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.masante .neuf,
.administratif .neuf{background: url(../img/notes_lightblue.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.masante .dixsurdix,
.administratif .dixsurdix{background: url(../img/notes_lightblue.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.monquotidien .zero,
.mapratique .zero,
#listApps .listapps.pourlespros .zero{background: url(../img/notes_red.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.monquotidien .un,
.mapratique .un,
#listApps .listapps.pourlespros .un{background: url(../img/notes_red.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.monquotidien .deux,
.mapratique .deux,
#listApps .listapps.pourlespros .deux{background: url(../img/notes_red.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.monquotidien .trois,
.mapratique .trois,
#listApps .listapps.pourlespros .trois{background: url(../img/notes_red.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.monquotidien .quatre,
.mapratique .quatre,
#listApps .listapps.pourlespros .quatre{background: url(../img/notes_red.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.monquotidien .cinq,
.mapratique .cinq,
#listApps .listapps.pourlespros .cinq{background: url(../img/notes_red.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.monquotidien .six,
.mapratique .six,
#listApps .listapps.pourlespros .six{background: url(../img/notes_red.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.monquotidien .sept,
.mapratique .sept,
#listApps .listapps.pourlespros .sept{background: url(../img/notes_red.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.monquotidien .huit,
.mapratique .huit,
#listApps .listapps.pourlespros .huit{background: url(../img/notes_red.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.monquotidien .neuf,
.mapratique .neuf,
#listApps .listapps.pourlespros .neuf{background: url(../img/notes_red.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.monquotidien .dixsurdix,
.mapratique .dixsurdix,
#listApps .listapps.pourlespros .dixsurdix{background: url(../img/notes_red.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.minformer .zero{background: url(../img/notes_green.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.minformer .un{background: url(../img/notes_green.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.minformer .deux{background: url(../img/notes_green.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.minformer .trois{background: url(../img/notes_green.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.minformer .quatre{background: url(../img/notes_green.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.minformer .cinq{background: url(../img/notes_green.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.minformer .six{background: url(../img/notes_green.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.minformer .sept{background: url(../img/notes_green.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.minformer .huit{background: url(../img/notes_green.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.minformer .neuf{background: url(../img/notes_green.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.minformer .dixsurdix{background: url(../img/notes_green.png) -170px -244px no-repeat; width: 42px; height: 42px;}

.medeplacer .zero,
.mespatients .zero,
#listApps .listapps.pourlesgens .zero{background: url(../img/notes_pink.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.medeplacer .un,
.mespatients .un,
#listApps .listapps.pourlesgens .un{background: url(../img/notes_pink.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.medeplacer .deux,
.mespatients .deux,
#listApps .listapps.pourlesgens .deux{background: url(../img/notes_pink.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.medeplacer .trois,
.mespatients .trois,
#listApps .listapps.pourlesgens .trois{background: url(../img/notes_pink.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.medeplacer .quatre,
.mespatients .quatre,
#listApps .listapps.pourlesgens .quatre{background: url(../img/notes_pink.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.medeplacer .cinq,
.mespatients .cinq,
#listApps .listapps.pourlesgens .cinq{background: url(../img/notes_pink.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.medeplacer .six,
.mespatients .six,
#listApps .listapps.pourlesgens .six{background: url(../img/notes_pink.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.medeplacer .sept,
.mespatients .sept,
#listApps .listapps.pourlesgens .sept{background: url(../img/notes_pink.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.medeplacer .huit,
.mespatients .huit,
#listApps .listapps.pourlesgens .huit{background: url(../img/notes_pink.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.medeplacer .neuf,
.mespatients .neuf,
#listApps .listapps.pourlesgens .neuf{background: url(../img/notes_pink.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.medeplacer .dixsurdix,
.mespatients .dixsurdix,
#listApps .listapps.pourlesgens .dixsurdix{background: url(../img/notes_pink.png) -170px -244px no-repeat; width: 42px; height: 42px;}

/* À PRIORI ÇA NE SERT À RIEN ICI....
.lespros .zero{background: url(../img/notes_gold.png) -178px -136px no-repeat; width: 33px; height: 30px;}
.lespros .un{background: url(../img/notes_gold.png) -217px -244px no-repeat; width: 33px; height: 30px;}
.lespros .deux{background: url(../img/notes_gold.png) -255px -244px no-repeat; width: 33px; height: 30px;}
.lespros .trois{background: url(../img/notes_gold.png) -305px 0px no-repeat; width: 33px; height: 30px;}
.lespros .quatre{background: url(../img/notes_gold.png) -305px -35px no-repeat; width: 33px; height: 30px;}
.lespros .cinq{background: url(../img/notes_gold.png) -178px -89px no-repeat; width: 33px; height: 42px;}
.lespros .six{background: url(../img/notes_gold.png) 0px -244px no-repeat; width: 33px; height: 42px;}
.lespros .sept{background: url(../img/notes_gold.png) -38px -244px no-repeat; width: 33px; height: 42px;}
.lespros .huit{background: url(../img/notes_gold.png) -76px -244px no-repeat; width: 42px; height: 42px;}
.lespros .neuf{background: url(../img/notes_gold.png) -123px -244px no-repeat; width: 42px; height: 42px;}
.lespros .dixsurdix{background: url(../img/notes_gold.png) -170px -244px no-repeat; width: 42px; height: 42px;}
*/


/* =========== PAGES STATIQUES =========== */
.static {padding-bottom: 20px;}
.static h2{text-align: center; margin: 25px 0 0 0; position: relative; display: block;}
.static p {margin: 1em 0;}



/* =========== CATEGORY =========== */

.title{background: #79c1d2; width: 100%; height: 54px; line-height: 54px; margin: 40px 0 20px 0;}
.fullList .title {margin-bottom: 0px;}
.fullList #sort-filter {position: absolute; right:0; top:0; padding-top: 2px;}
.fullList #sort-filter .btn-group {display: inline-block;}
.fullList #sort-filter .btn:hover, .fullList #sort-filter .btn:focus {background: white; color: black;}
.fullList #sort-filter .btn-group input {display: none;}

.monquotidien .title, .mapratique .title{background: #E05D5F;}
.minformer .title{background: #84C790;}
.medeplacer .title, .mespatients .title{background: #D769AF;}


/* =========== APPS =========== */

#metapp{background: #79c1d2; width: 100%; height: 130px; position: relative; padding: 1px 0 0 0;}

.monquotidien #metapp, .mapratique #metapp{background: #E05D5F;}
.minformer #metapp{background: #84C790;}
.medeplacer #metapp, .mespatients #metapp{background: #D769AF;}

#metapp .appnote{background: #f0f0f0; display: inline-block; width: 230px; height: 75px; vertical-align: middle; position: relative; margin: 26px 20px 0 0;}
#metapp .appnote:last-child{margin: 26px 0 0 0;}
#metapp .icone{float: left; margin: 20px; width: 90px; height: 90px; background: transparent; position: relative; border-radius: 10px;}

#metapp .appnote span{display: block; height: 75px; background-position: center center; margin: 14px; float: left;}
#metapp .noteMedappcare span{background: url(../img/pictapp_medappcare_lightblue.png) no-repeat; width: 68px; height: 48px;}
#metapp .notePro span{background: url(../img/pictapp_pro_lightblue.png) no-repeat; width: 120px; height: 50px;}
#metapp .noteGens span{background: url(../img/pictapp_gens_lightblue.png) no-repeat; width: 88px; height: 44px;}

.monquotidien #metapp .noteMedappcare span, .mapratique #metapp .noteMedappcare span{background: url(../img/pictapp_medappcare_red.png) no-repeat;}
.minformer #metapp .noteMedappcare span{background: url(../img/pictapp_medappcare_green.png) no-repeat;}
.medeplacer #metapp .noteMedappcare span, .mespatients #metapp .noteMedappcare span{background: url(../img/pictapp_medappcare_pink.png) no-repeat;}

.monquotidien #metapp .notePro span, .mapratique #metapp .notePro span{background: url(../img/pictapp_pro_red.png) no-repeat;}
.minformer #metapp .notePro span{background: url(../img/pictapp_pro_green.png) no-repeat;}
.medeplacer #metapp .notePro span, .mespatients #metapp .notePro span{background: url(../img/pictapp_pro_pink.png) no-repeat;}

.monquotidien #metapp .noteGens span, .mapratique #metapp .noteGens span{background: url(../img/pictapp_gens_red.png) no-repeat;}
.minformer #metapp .noteGens span{background: url(../img/pictapp_gens_green.png) no-repeat;}
.medeplacer #metapp .noteGens span, .mespatients #metapp .noteGens span{background: url(../img/pictapp_gens_pink.png) no-repeat;}

#metapp .appnote .note{display: block; position: relative; text-indent: -9999px; float: right; margin: 9px 20px 0 0;}
#metapp .appnote .note.un{background: url(../img/notapp_masante.png) -177px -48px no-repeat; width: 46px; height: 43px;}
#metapp .appnote .note.deux{background: url(../img/notapp_masante.png) 0px -126px no-repeat; width: 47px; height: 43px;}
#metapp .appnote .note.trois{background: url(../img/notapp_masante.png) -177px 0px no-repeat; width: 46px; height: 43px;}
#metapp .appnote .note.quatre{background: url(../img/notapp_masante.png) -104px -126px no-repeat; width: 46px; height: 43px;}
#metapp .appnote .note.cinq{background: url(../img/notapp_masante.png) 0px 0px no-repeat; width: 46px; height: 58px;}
#metapp .appnote .note.six{background: url(../img/notapp_masante.png) -114px -63px no-repeat; width: 46px; height: 58px;}
#metapp .appnote .note.sept{background: url(../img/notapp_masante.png) -63px -63px no-repeat; width: 46px; height: 58px;}
#metapp .appnote .note.huit{background: url(../img/notapp_masante.png) -114px 0px no-repeat; width: 58px; height: 58px;}
#metapp .appnote .note.neuf{background: url(../img/notapp_masante.png) 0px -63px no-repeat; width: 58px; height: 58px;}
#metapp .appnote .note.dix{background: url(../img/notapp_masante.png) -51px 0px no-repeat; width: 58px; height: 58px;}
#metapp .appnote .note.zero{background: url(../img/notapp_masante.png) -52px -126px no-repeat; width: 47px; height: 43px;}

.monquotidien #metapp .appnote .note,
.mapratique #metapp .appnote .note{display: block; position: relative; text-indent: -9999px; float: right; margin: 9px 20px 0 0;}
.monquotidien #metapp .appnote .note.un,
.mapratique #metapp .appnote .note.un{background: url(../img/notapp_monquotidien.png) -177px -48px no-repeat; width: 46px; height: 43px;}
.monquotidien #metapp .appnote .note.deux,
.mapratique #metapp .appnote .note.deux{background: url(../img/notapp_monquotidien.png) 0px -126px no-repeat; width: 47px; height: 43px;}
.monquotidien #metapp .appnote .note.trois,
.mapratique #metapp .appnote .note.trois{background: url(../img/notapp_monquotidien.png) -177px 0px no-repeat; width: 46px; height: 43px;}
.monquotidien #metapp .appnote .note.quatre,
.mapratique #metapp .appnote .note.quatre{background: url(../img/notapp_monquotidien.png) -104px -126px no-repeat; width: 46px; height: 43px;}
.monquotidien #metapp .appnote .note.cinq,
.mapratique #metapp .appnote .note.cinq{background: url(../img/notapp_monquotidien.png) 0px 0px no-repeat; width: 46px; height: 58px;}
.monquotidien #metapp .appnote .note.six,
.mapratique #metapp .appnote .note.six{background: url(../img/notapp_monquotidien.png) -114px -63px no-repeat; width: 46px; height: 58px;}
.monquotidien #metapp .appnote .note.sept,
.mapratique #metapp .appnote .note.sept{background: url(../img/notapp_monquotidien.png) -63px -63px no-repeat; width: 46px; height: 58px;}
.monquotidien #metapp .appnote .note.huit,
.mapratique #metapp .appnote .note.huit{background: url(../img/notapp_monquotidien.png) -114px 0px no-repeat; width: 58px; height: 58px;}
.monquotidien #metapp .appnote .note.neuf,
.mapratique #metapp .appnote .note.neuf{background: url(../img/notapp_monquotidien.png) 0px -63px no-repeat; width: 58px; height: 58px;}
.monquotidien #metapp .appnote .note.dix,
.mapratique #metapp .appnote .note.dix{background: url(../img/notapp_monquotidien.png) -51px 0px no-repeat; width: 58px; height: 58px;}
.monquotidien #metapp .appnote .note.zero,
.mapratique #metapp .appnote .note.zero{background: url(../img/notapp_monquotidien.png) -52px -126px no-repeat; width: 47px; height: 43px;}

.minformer #metapp .appnote .note{display: block; position: relative; text-indent: -9999px; float: right; margin: 9px 20px 0 0;}
.minformer #metapp .appnote .note.un{background: url(../img/notapp_minformer.png) -177px -48px no-repeat; width: 46px; height: 43px;}
.minformer #metapp .appnote .note.deux{background: url(../img/notapp_minformer.png) 0px -126px no-repeat; width: 47px; height: 43px;}
.minformer #metapp .appnote .note.trois{background: url(../img/notapp_minformer.png) -177px 0px no-repeat; width: 46px; height: 43px;}
.minformer #metapp .appnote .note.quatre{background: url(../img/notapp_minformer.png) -104px -126px no-repeat; width: 46px; height: 43px;}
.minformer #metapp .appnote .note.cinq{background: url(../img/notapp_minformer.png) 0px 0px no-repeat; width: 46px; height: 58px;}
.minformer #metapp .appnote .note.six{background: url(../img/notapp_minformer.png) -114px -63px no-repeat; width: 46px; height: 58px;}
.minformer #metapp .appnote .note.sept{background: url(../img/notapp_minformer.png) -63px -63px no-repeat; width: 46px; height: 58px;}
.minformer #metapp .appnote .note.huit{background: url(../img/notapp_minformer.png) -114px 0px no-repeat; width: 58px; height: 58px;}
.minformer #metapp .appnote .note.neuf{background: url(../img/notapp_minformer.png) 0px -63px no-repeat; width: 58px; height: 58px;}
.minformer #metapp .appnote .note.dix{background: url(../img/notapp_minformer.png) -51px 0px no-repeat; width: 58px; height: 58px;}
.minformer #metapp .appnote .note.zero{background: url(../img/notapp_minformer.png) -52px -126px no-repeat; width: 47px; height: 43px;}

.medeplacer #metapp .appnote .note, 
.mespatients #metapp .appnote .note{display: block; position: relative; text-indent: -9999px; float: right; margin: 9px 20px 0 0;}
.medeplacer #metapp .appnote .note.un,
.mespatients #metapp .appnote .note.un{background: url(../img/notapp_medeplacer.png) -177px -48px no-repeat; width: 46px; height: 43px;}
.medeplacer #metapp .appnote .note.deux, 
.mespatients #metapp .appnote .note.deux{background: url(../img/notapp_medeplacer.png) 0px -126px no-repeat; width: 47px; height: 43px;}
.medeplacer #metapp .appnote .note.trois, 
.mespatients #metapp .appnote .note.trois{background: url(../img/notapp_medeplacer.png) -177px 0px no-repeat; width: 46px; height: 43px;}
.medeplacer #metapp .appnote .note.quatre, 
.mespatients #metapp .appnote .note.quatre{background: url(../img/notapp_medeplacer.png) -104px -126px no-repeat; width: 46px; height: 43px;}
.medeplacer #metapp .appnote .note.cinq, 
.mespatients #metapp .appnote .note.cinq{background: url(../img/notapp_medeplacer.png) 0px 0px no-repeat; width: 46px; height: 58px;}
.medeplacer #metapp .appnote .note.six, 
.mespatients #metapp .appnote .note.six{background: url(../img/notapp_medeplacer.png) -114px -63px no-repeat; width: 46px; height: 58px;}
.medeplacer #metapp .appnote .note.sept, 
.mespatients #metapp .appnote .note.sept{background: url(../img/notapp_medeplacer.png) -63px -63px no-repeat; width: 46px; height: 58px;}
.medeplacer #metapp .appnote .note.huit, 
.mespatients #metapp .appnote .note.huit{background: url(../img/notapp_medeplacer.png) -114px 0px no-repeat; width: 58px; height: 58px;}
.medeplacer #metapp .appnote .note.neuf, 
.mespatients #metapp .appnote .note.neuf{background: url(../img/notapp_medeplacer.png) 0px -63px no-repeat; width: 58px; height: 58px;}
.medeplacer #metapp .appnote .note.dix, 
.mespatients #metapp .appnote .note.dix{background: url(../img/notapp_medeplacer.png) -51px 0px no-repeat; width: 58px; height: 58px;}
.medeplacer #metapp .appnote .note.zero, 
.mespatients #metapp .appnote .note.zero{background: url(../img/notapp_medeplacer.png) -52px -126px no-repeat; width: 47px; height: 43px;}

.app .os {margin-top: 10px;}
.app .list {text-align: center;}
.app .os span{margin: 10px auto; width: 50px; background-position: center center; display: inline-block;}
.app .price{background: #79c1d2; width: 40px; padding: 0 5px; line-height: 20px; text-align: center;}


#appSectionOne .content,
#appSectionTwo .content{width: 70%; max-width: 710px;}
#appSectionOne .sidebar,
#appSectionTwo .sidebar{width: 20%; max-width: 150px;}

.qrcode img{display: block; max-width: 150px; max-height: 150px; margin: 0 auto;}
.qrcode p {padding: 0 10px;}

.app #devices{background: #cfe3e7; border-top: 1px solid #0f6eb4; border-bottom: 1px solid #0f6eb4; margin: 0 0 50px 0;}
.monquotidien #devices, .mapratique #devices{background: #f1d2d2; border-top: 1px solid #e05d5f; border-bottom: 1px solid #e05d5f;}
.minformer #devices{background: #ceecd4; border-top: 1px solid #84c790; border-bottom: 1px solid #84c790;}
.medeplacer #devices, .mespatients #devices{background: #efe1ea; border-top: 1px solid #d769af; border-bottom: 1px solid #d769af;}

#devices .metaFooter{ibackground: #cfe3e7;}
.monquotidien #devices .metaFooter, .app.mapratique #devices .metaFooter{background: #f1d2d2;}
.minformer #devices .metaFooter{background: #ceecd4;}
.medeplacer #devices .metaFooter, .mespatients #devices .metaFooter{background: #efe1ea;}

.monquotidien .price,
.monquotidien #devices .price, 
.mapratique .price,
.mapratique #devices .price{background: #e05d5f;}
.minformer #devices .price,
.minformer .price{background: #84c790;}
.medeplacer .price,
.medeplacer #devices .price, 
.mespatients .price,
.mespatients #devices .price{background: #d769af;}

#appSectionOne{min-height: 250px;}

#appSectionTwo{min-height: 250px;}


/* Screenshots */
#galeriePhotos ul {white-space:nowrap; overflow-y: hidden; }
#galeriePhotos ul li {display: inline-block;margin-right: 20px;}
#galeriePhotos ul li img {width: 220px;}


/* =========== FORMS =========== */
.form-signup, .form-contact {
    max-width: 500px;
    padding: 19px 39px 39px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
    margin-bottom: 10px;
}
.form-signup input[type="text"],
.form-signup input[type="email"],
.form-signup input[type="password"],
.form-signup input[type="date"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.form-contact .form-contact-heading,
.form-contact .checkbox {
    margin-bottom: 10px;
}
.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact input[type="password"],
.form-contact input[type="date"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-contact textarea{
	height: 160px;
	font-size: 16px;
	padding: 7px 9px;
}
.btn-group{margin-bottom: 15px;}
button{margin-right: 15px;}

    /* SELECT */
.multiselect {
    text-align: left;
}
.multiselect b.caret {
    float: right;
}
.multiselect-group {
    font-weight: bold;
    text-decoration: underline;
    width: 458px;
}

.well{
    padding: 10px 10px 0;
}

.well label {
    font-size: 16px;
    color: #999999;
}

#login-error, 
#login-error-pro {
	margin: 0;
}



/* =========== DEVICE PAGE =========== */

#appSectionOne .features {text-align: center;}
#appSectionOne .features span {display: inline-block; text-indent: -1999px; height: 22px; width: 25px; background-repeat: none; margin: 10px 5px;}
#appSectionOne .features span.wifi {width: 31px;}

.masante #appSectionOne .labels,.administratif #appSectionOne .labels {color: #79C1D2;}
.monquotidien #appSectionOne .labels, .mapratique #appSectionOne .labels {color: #E05D5F;}
.minformer #appSectionOne .labels {color: #84C790;}
.medeplacer #appSectionOne .labels, .mespatients #appSectionOne .labels {color: #D769AF;}

#appSectionOne .labels {position:relative; height: 100px; text-align: center; margin: 10px 0; font-size: .8em; line-height: 1.2em;}
#appSectionOne .labels .label {display: inline-block; text-indent: -1999px; margin: 10px 5px; background-repeat: none;}
#appSectionOne .labels .text {position: absolute; bottom: 0; left:0; width: 100%;}

#appSectionOne .labels .ce {width: 40px; height: 30px;}

.device .labels .ce  {background-image: url(../img/pictoCE_blue.png);}

.masante #appSectionOne .labels .ce, .administratif #appSectionOne .labels .ce {background-image: url(../img/pictoCE_blue.png);}
.monquotidien #appSectionOne .labels .ce, .mapratique #appSectionOne .labels .ce  {background-image: url(../img/pictoCE_red.png);}
.minformer #appSectionOne .labels .ce {background-image: url(../img/pictoCE_green.png);}
.medeplacer #appSectionOne .labels .ce, .mespatients #appSectionOne .labels .ce {background-image: url(../img/pictoCE_pink.png);}

.features span.bluetooth {background-image: url(../img/pictoBluetooth_blue.png);}
.features span.wifi {background-image: url(../img/pictoWifi_blue.png);}
.features span.usb {background-image: url(../img/pictoUsb_blue.png);}

/* PAS DE CATEGORIE POUR LES DEVICES
.masante .features span.bluetooth {background-image: url(../img/pictoBluetooth_blue.png);}
.masante .features span.wifi {background-image: url(../img/pictoWifi_blue.png);}
.masante .features span.usb {background-image: url(../img/pictoUsb_blue.png);}

.monquotidien .features span.bluetooth {background-image: url(../img/pictoBluetooth_red.png);}
.monquotidien .features span.wifi {background-image: url(../img/pictoWifi_red.png);}
.monquotidien .features span.usb {background-image: url(../img/pictoUsb_red.png);}

.minformer .features span.bluetooth {background-image: url(../img/pictoBluetooth_green.png);}
.minformer .features span.wifi {background-image: url(../img/pictoWifi_green.png);}
.minformer .features span.usb {background-image: url(../img/pictoUsb_green.png);}

.medeplacer .features span.bluetooth {background-image: url(../img/pictoBluetooth_pink.png);}
.medeplacer .features span.wifi {background-image: url(../img/pictoWifi_pink.png);}
.medeplacer .features span.usb {background-image: url(../img/pictoUsb_pink.png);}
*/

#descTabs nav {display: block; height: 54px;}

#descTabs nav{background: #79C1D2;}

.masante #descTabs nav, .administratif #descTabs nav{background: #79C1D2;}
.monquotidien #descTabs nav, .mapratique #descTabs nav{background: #E05D5F;}
.minformer #descTabs nav{background: #84C790;}
.medeplacer #descTabs nav, .mespatients #descTabs nav{background: #D769AF;}


#descTabs nav .wrapper {height: 100%;}
#descTabs nav ul {width: 100%; height: 100%;}
#descTabs nav li {display: block; height: 100%; width: 20%; float: left; text-align: center; line-height: 54px; color:white; font-weight: bold;}
#descTabs nav li:hover {cursor: pointer; background-color: rgba(255, 255, 255, .2);}
#descTabs nav li.selected {background: rgba(255, 255, 255, .2) url(../img/deviceTabsSelectedIndicator.png) no-repeat;}


#descTabs > .wrapper {min-height: 405px;}
#descTabs .tabContent:not(#galeriePhotos) {display: none;}

#descTabs .tabContent {padding: 20px;}
#descTabs .tabContent .logoPart {width: 175px; height: 100%; float: left;}
#descTabs .tabContent .logoPart img {margin: 20px auto;}


/* =========== NEWS PAGES =========== */
.news .title{background: #ededed;}

.unarticle{border-bottom: 1px solid #0f6eb4; margin: 0 auto 50px auto; padding: 0 0 50px 0;}
.unarticle:last-child{border: 0;}

.articles .content ul{list-style: circle; padding: 0 0 0 20px; margin: 10px 0 10px 20px;}
.articles .content ol{padding: 0 0 0 20px; margin: 10px 0 10px 20px;}
.articles .content p{margin: 10px auto;}

.articles .date{margin: 5px 0 0 0;}

.articles .categorie, .articles .date{display: inline-block;}

.articles img{max-width: 450px; height: auto;}

.alignright{float: right; margin: 0 0 10px 10px;}
.alignleft{float: left; margin: 0 10px 10px 0;}
.center{margin: 10px auto;}

.singlenews .content,
.singlenews .date{margin: 0 0 50px 0;}


