/* =========== MENU =========== */

.home a, .bt-search a{background: #283278;}
.navmasante a{background: #79C1D2;}
.navmonquotidien a{background: #E05D5F;}
.navminformer a{background: #84C790;}
.navmedeplacer a{background: #D769AF;}
.bt-search a{border-right: 1px solid white;}

/*.megamenu .picto{display: inline-block; vertical-align: middle; position: relative;}*/

.home a, .bt-search a{display: block; text-indent: -9999px;}

.home a{background: url(../img/home.png) no-repeat #283278 center center;}
.bt-search a{background: url(../img/search.png) no-repeat #283278 center center;}
.navmasante a{background: url(../img/masante.png) no-repeat 20px center;}
.navmonquotidien a{background: url(../img/monquotidien.png) no-repeat 20px center;}
.navminformer a{background: url(../img/minformer.png) no-repeat 20px center;}
.navmedeplacer a{background: url(../img/medeplacer.png) no-repeat 20px center;}

.loading{background: transparent url(../img/loading.gif) no-repeat center center;}

.navmasante, #dropdown nav.masante {background: #79C1D2;}
.navmonquotidien, #dropdown nav.monquotidien {background: #E05D5F;}
.navminformer, #dropdown nav.minformer {background: #84C790;}
.navmedeplacer, #dropdown nav.medeplacer {background: #D769AF;}

header > nav li.home, header > nav li.bt-search {width: 56px;}
header > nav li {box-sizing: border-box; }
header > nav li:not(.home):not(.bt-search) a {box-sizing: border-box; padding-left: 55px;}
#header > nav li.navmonquotidien a, #header > nav li.navminformer a {padding-left: 60px;}
#header > nav li.medeplacer a {padding-left: 45px;}

#header .connected-user {position: absolute; top: 15px; right: 0; display: block; font-weight: normal; font-size: .9em; width: auto; z-index: 100; color:rgb(153,153,153)}
#header .connected-user a {color:rgba(119,115,228,1)}

/*header form.search-form {display: none;}*/
header form.search-form {z-index: 300; position: absolute; width: 831px; height:52px; top:0; left:58px; display: none;}
header form.search-form input {width:100%; height:100%; margin: 1px; padding: 5px 10px; border: none; outline: none; box-shadow: none; box-sizing: border-box; -moz-box-sizing: border-box;}

#dropdown{position: relative; height:330px; overflow: hidden; display: none;}
#dropdown > nav {position: abolute; width:100%; height:100%; display: none;}
#dropdown .wrapper {height:100%; padding: 10px 0px 50px 60px; box-sizing: border-box; -moz-box-sizing: border-box;}

#dropdown .bigpicto{position: absolute; overflow: hidden; display: block; z-index: 1; }
#dropdown .wrapper > ul{z-index: 2; position: relative; background: transparent: 50%; float:left; margin-right: 50px; margin-top: 20px;}
#dropdown li{display: block; line-height: 1.5em;}
#dropdown a{background: transparent;}

#dropdown nav.masante .bigpicto{background: url(../img/picto_masantebig.png) no-repeat; bottom: -20px; left: -130px; width: 264px; height: 236px;}
#dropdown nav.monquotidien .bigpicto{background: url(../img/picto_monquotidien_big.png) no-repeat; bottom: -20px; left: -130px; width: 263px; height: 279px;}
#dropdown nav.minformer .bigpicto{background: url(../img/picto_minformer_big.png) no-repeat; bottom: -10px; left: -120px; width: 277px; height: 192px;}
#dropdown nav.medeplacer .bigpicto{background: url(../img/picto_medeplacer_big.png) no-repeat; bottom: -5px; left: -90px; width: 179px; height: 235px;}

#dropdown .sponsored-selection {width: 250px; height: 280px; position: relative; float:right; background:rgba(0,0,0, .1); margin: 0 0 30px 0;}
#dropdown .sponsored-selection .title {display:block; height: 38px; background-color: transparent; background-image: url(../img/picto_selection.png); background-repeat: no-repeat; background-position: 20px 50%; font-size:1.3em; margin:0px; border-bottom-style: solid; border-bottom-width: 1px; padding-left : 55px; line-height: 2em; box-sizing: border-box}
#dropdown .sponsored-selection li {display: block; padding: 18px 10px 0px 10px; line-height: 55px; height: 57px;}
#dropdown .sponsored-selection li:after {display: block; content:''; clear:both;}
#dropdown .sponsored-selection li a {display: block;}
#dropdown .sponsored-selection li img {float: left; margin-right: 10px;}
#dropdown .sponsored-selection .sponsored-indicator {position: absolute; bottom:0; right: 0; padding: 5px;}

#dropdown .masante .sponsored-selection .title {border-color: #79C1D2;}
#dropdown .monquotidien .sponsored-selection .title {border-color: #E05D5F;}
#dropdown .minformer .sponsored-selection .title {border-color: #84C790;}
#dropdown .medeplacer .sponsored-selection .title {border-color: #D769AF;}

/* Les Pros */
.navadministratif a{background: #79C1D2;}
.navmapratique a{background: #E05D5F;}
.navmespatients a{background: #D769AF;}

.navadministratif a{background: url(../img/picto_administratif.png) no-repeat 20px center;}
.navmapratique a{background: url(../img/picto_mapratique.png) no-repeat 20px center; }
.navmespatients a{background: url(../img/picto_mespatients.png) no-repeat 20px center; }

.navadministratif, #dropdown nav.administratif {background: #79C1D2;}
.navmapratique, #dropdown nav.mapratique {background: #E05D5F;}
.navprominformer, #dropdown nav.prominformer {background: #84C790;}
.navmespatients, #dropdown nav.mespatients {background: #D769AF;}

#dropdown.navadministratif .bigpicto{background: url(../img/picto_administratif_big.png) no-repeat; width: 205px; height: 205px; bottom: -10px; left: -90px;}
#dropdown.navmapratique .bigpicto{background: url(../img/picto_mapratique_big.png) no-repeat; width: 195px; height: 209px; bottom: -10px; left: -80px;}
#dropdown.navprominformer .bigpicto{background: url(../img/picto_minformer_big.png) no-repeat; bottom: -10px; left: -120px; width: 277px; height: 192px;}
#dropdown.navmespatients .bigpicto{background: url(../img/picto_mespatients_big.png) no-repeat; width: 261px; height: 176px; bottom: -15px; left: -110px;}

#dropdown a.closeLink{background: rgba(0,0,0,0.1); display: block; width: 110px; height: 20px; bottom: 0px; position: absolute; right: 0px; z-index: 20; text-align: center; background-image: url(../img/menu_close.png); background-position: 9px 6px; background-repeat: no-repeat; background-size: 16px 16px; padding: 4px 0px 4px 20px; line-height: 20px}
#dropdown a.closeLink:hover{text-decoration: none; bottom: 2px;}


/* Mobile Navigation */

#dl-menu{display: none; font-weight: 700 !important;}

#dl-menu a:hover{text-decoration: none;}

.dl-menuwrapper .masante,
.dl-menuwrapper .masante .dl-submenu{background: #79C1D2;}
.dl-menuwrapper .monquotidien,
.dl-menuwrapper .monquotidien .dl-submenu{background: #E05D5F;}
.dl-menuwrapper .minformer,
.dl-menuwrapper .minformer .dl-submenu{background: #84C790;}
.dl-menuwrapper .medeplacer,
.dl-menuwrapper .medeplacer .dl-submenu{background: #D769AF;}









