/* =========== NOS SELECTIONS =========== */

#selections{background: #ededed; height: auto; text-align: center; position: relative; padding: 1px 0; margin: 1px 0 0 0;}
#selections h2{margin: 25px 0; position: relative; display: block;}
#selections ul{position: relative; min-height: 165px;}
#selections li{padding: 0; margin: 0 18px; list-style: none; display: inline-block; height: 100px; width: 195px; border: 1px solid #474747;}
#selections .underline{display: block; margin: 10px 0 0 0; width: 100%; height: 5px; background: #474747; position: relative;}

#selections a{display: block; width: 100%; height: 100%; background: #999; margin: 0; padding: 0;}


/* =========== LISTE APPS (commun) =========== */


#listApps{min-height: 740px;}

#listApps .listapps{width: 447px; height: auto; margin: 50px 0 0 0; float: left; position: relative;}

.lespros #listApps .listapps {margin: 25px 0 0 0;}
#listApps .listapps h3{background: #0f6eb4; padding: 0 120px 0 15px; line-height: 50px; height: 50px; border: 1px solid #0f6eb4;}
.homepage #listApps .listapps h3{padding: 0 15px;}

#listApps > .wrapper ul{border-left: 1px solid #0f6eb4; border-right: 1px solid #0f6eb4;}
#listApps > .wrapper li{list-style: none; display: block; border-bottom: 1px solid #0f6eb4; height: 80px; padding: 15px 0 15px 15px;}
#listApp > .wrappers li:last-child{border-bottom: none;}
#listApps .metaFooter{background: #0f6eb4; height: 28px; padding: 0 15px; }
#listApps .metaFooter a{float: right;}

#listApps .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #ededed; margin: 0 15px 0 0;}
#listApps .metapp{float: left; position: relative; height: 100%; width: 230px;}
#listApps .metapp h4 {width: 220px;}
#listApps .metapp h4 a {display: block; height: 40px;}
#listApps .os{float: left; position: relative; width: 60px; margin: 25px 0 0 0;}
#listApps .price{background: #0f6eb4; width: 40px; padding: 0 5px; line-height: 21px; text-align: center; margin: 0 0 5px 0;}
#listApps .price:hover,
.app .price:hover{background: red; text-decoration: none;}
#listApps .note{width: 42px; height: 42px; position: relative; float: left; text-align: center; vertical-align: middle; margin:20px 0;}

#listApps .topfive,
#listApps .pourlesgens{float: right;}

#listApps .featured{background: #aed6f3;}


/* =========== LISTE ALL APPS (category) =========== */

#listApps .allapps{width: 100%; height: auto; margin: 50px 0; display: block; position: relative; float: left; clear: both;}
#listApps .allapps h3{background: #79c1d2; border: 1px solid #79c1d2; line-height: 50px; padding: 0 15px; height: 52px;}

#listApps.fullList .allapps {margin: 50px 0; border-top: 1px solid #79c1d2;}

#listApps > .wrapper .allapps ul{border-left: 1px solid #79c1d2; border-right: 1px solid #79c1d2; padding: 0;}
#listApps > .wrapper .allapps li{border-bottom: 1px solid #79c1d2; width: 458px; float: left; margin: 0;}
#listApps > .wrapper .allapps li:nth-child(odd){border-right: 1px solid #79c1d2;}

#listApps .allapps .metaFooter{background: #79c1d2;}
#listApps .allapps .price{background: #79c1d2;}
#listApps .allapps .featured{background: #d9eef3;}

#listApps h2 {width:440px; height:54px;}

.masante #listApps h3,
.administratif #listApps h3{background: #79c1d1; border: 1px solid #79c1d1;}
.masante #listApps .allapps ul,
.administratif #listApps .allapps ul,
.masante #listApps ul,
.administratif #listApps ul{border-left: 1px solid #79c1d1; border-right: 1px solid #79c1d1;}
.masante #listApps .allapps li,
.administratif #listApps .allapps li,
.masante #listApps li,
.administratif #listApps li{border-bottom: 1px solid #79c1d1;}
.masante #listApps .allapps li:nth-child(odd),
.administratif #listApps .allapps li:nth-child(odd),
.masante #listApps li:nth-child(odd),
.administratif #listApps li:nth-child(odd){border-right: 1px solid #79c1d1;}
.masante #listApps .metaFooter,
.administratif #listApps .metaFooter{background: #79c1d1;}
.masante #listApps .price,
.administratif #listApps .price{background: #79c1d1;}

.monquotidien #listApps h3,
.mapratique #listApps h3{background: #e05d5f; border: 1px solid #e05d5f;}
.monquotidien #listApps .allapps ul,
.mapratique #listApps .allapps ul,
.monquotidien #listApps ul,
.mapratique #listApps ul{border-left: 1px solid #e05d5f; border-right: 1px solid #e05d5f;}
.monquotidien #listApps .allapps li,
.mapratique #listApps .allapps li,
.monquotidien #listApps li,
.mapratique #listApps li{border-bottom: 1px solid #e05d5f;}
.monquotidien #listApps .allapps li:nth-child(odd),
.mapratique #listApps .allapps li:nth-child(odd),
.monquotidien #listApps li:nth-child(odd),
.mapratique #listApps li:nth-child(odd){border-right: 1px solid #e05d5f;}
.monquotidien #listApps .metaFooter,
.mapratique #listApps .metaFooter{background: #e05d5f;}
.monquotidien #listApps .price,
.mapratique #listApps .price{background: #e05d5f;}
.monquotidien #listApps .featured,
.mapratique #listApps .featured{background: #f1d2d2;}

.minformer #listApps h3{background: #84c790; border: 1px solid #84c790;}
.minformer #listApps .allapps ul, .minformer #listApps ul{border-left: 1px solid #84c790; border-right: 1px solid #84c790;}
.minformer #listApps .allapps li, .minformer #listApps li{border-bottom: 1px solid #84c790;}
.minformer #listApps .allapps li:nth-child(odd), .minformer #listApps li:nth-child(odd){border-right: 1px solid #84c790;}
.minformer #listApps .metaFooter{background: #84c790;}
.minformer #listApps .price{background: #84c790;}
.minformer #listApps .featured{background: #ceecd4;}

.medeplacer #listApps h3,
.mespatients #listApps h3{background: #d769af; border: 1px solid #d769af;}
.medeplacer #listApps .allapps ul,
.mespatients #listApps .allapps ul,
.medeplacer #listApps ul,
.mespatients #listApps ul{border-left: 1px solid #d769af; border-right: 1px solid #d769af;}
.medeplacer #listApps .allapps li,
.mespatients #listApps .allapps li,
.medeplacer #listApps li,
.mespatients #listApps li{border-bottom: 1px solid #d769af;}
.medeplacer #listApps .allapps li:nth-child(odd),
.mespatients #listApps .allapps li:nth-child(odd),
.medeplacer #listApps li:nth-child(odd),
.mespatients #listApps li:nth-child(odd){border-right: 1px solid #d769af;}
.medeplacer #listApps .metaFooter,
.mespatients #listApps .metaFooter{background: #d769af;}
.medeplacer #listApps .price,
.mespatients #listApps .price{background: #d769af;}
.medeplacer #listApps .featured,
.mespatients #listApps .featured{background: #efe1ea;}

#listApps.fullList .metaFooter {position: relative;}
#listApps .previousLink {position: absolute; left: 10px; top:2px;}
#listApps .nextLink {position: absolute; right: 10px; top:2px;}

/* =========== LISTE APPS (filters) =========== */
#listApps .filter{position: absolute; right: 15px; top: 1px; height: 52px; display: block; z-index: 1;}
#listApps .filter a{display: inline-block; text-indent: -9999px; position: relative; margin: 12px 5px 0 5px; vertical-align: middle; width: 45px; height: 26px; z-index: 3;}
#listApps .filter .pardate{background: url(../img/pro_parDate.png) no-repeat center center;}
#listApps .filter .parnote{background: url(../img/pro_parNotes.png) no-repeat center center;}
#listApps .filter .gratuit,
#listApps .filter .payant{text-indent: 0; text-align: center; width: 45px; line-height: 27px;}
#listApps .filter a.actif span{display: block; height: 52px; position: absolute; top: -13px; left: 0; background: url(../img/filterON.png) no-repeat center center; width: 45px; z-index: 1;}


/* =========== ESPACE PRO - LISTE APPS (professionnels) =========== */

#listApps h2{text-align: center; margin: 25px 0 0 0; position: relative; display: block;}
.lespros #listApps h2 {margin: 40px 0 0 0;}

/* on change tout en rouge */

#listApps .listapps.pourlespros h3{background: #e05d5f; border: 1px solid #e05d5f;}
#listApps .listapps.pourlespros ul{border-left: 1px solid #e05d5f; border-right: 1px solid #e05d5f;}
#listApps .listapps.pourlespros li{border-bottom: 1px solid #e05d5f;}
#listApps .listapps.pourlespros .metaFooter{background: #e05d5f;}
#listApps .listapps.pourlespros .price{background: #e05d5f;}
#listApps .listapps.pourlespros .featured{background: #f1d2d2;}

#listApps .listapps.pourlespros h3 span{display: inline-block; background: url(../img/pro_pourlespros.png) no-repeat; width: 29px; height: 31px; margin: 0 10px 0 0; vertical-align: middle;}

/* =========== ESPACE PRO - LISTE APPS (professionnels) =========== */

/* on change tout en rose */

#listApps .listapps.pourlesgens h3{background: #d769af; border: 1px solid #d769af;}
#listApps .listapps.pourlesgens ul{border-left: 1px solid #d769af; border-right: 1px solid #d769af;}
#listApps .listapps.pourlesgens li{border-bottom: 1px solid #d769af;}
#listApps .listapps.pourlesgens .metaFooter{background: #d769af;}
#listApps .listapps.pourlesgens .price{background: #d769af;}
#listApps .listapps.pourlesgens .featured{background: #efe1ea;}

#listApps .listapps.pourlesgens h3 span{display: inline-block; background: url(../img/pro_pourlesgens.png) no-repeat; width: 34px; height: 23px; margin: 0 10px 0 0; vertical-align: middle;}

/* =========== LISTE DEVICES (commun) =========== */

#devices{min-height: 380px; background: #ededed; display: block;}

#devices li{list-style: none; display: block; border-bottom: 1px solid white; height: 80px; padding: 15px; width: 415px; float: left; position: relative;}
#devices li:nth-child(even){float: right;}

#devices h2{padding: 5px 15px 0px 15px; line-height: 52px; border-bottom: 1px solid white;}
#devices .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #333; margin: 0 15px 0 0;}
#devices .metapp{float: left; position: relative; width: 260px;}
#devices .metapp h4 {height: 40px;}


#devices .price{background: #0f6eb4; width: 40px; padding: 0 5px; line-height: 21px; text-align: center; margin: 13px 0; float: right;}
.masante #devices .price,
.administratif #devices .price{background: #79c1d1;}
.monquotidien #devices .price, 
.mapratique #devices .price{background: #E05D5F;}
.minformer #devices .price{background: #84C790;}
.medeplacer #devices .price, 
.mespatients #devices .price{background: #D769AF;}

#devices .metaFooter{background: #ededed; height: 28px; padding: 0 15px; }
#devices .metaFooter a{float: right;}

/* =========== LISTE DEVICES (sans titre) =========== */

#devicesCompatibles #devices{border: none; min-height: 0;}
#devicesCompatibles #devices h2{display: none;}

/* =========== LISTE APPS (onglet dans la page devices.php) =========== */

#appsCompatibles h3{margin: 0 0 20px 0;}

#appsCompatibles ul{padding: 10px;}
.particuliers #appsCompatibles ul{background: #cfe3e7;}

#appsCompatibles .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #333; margin: 0 15px 0 0;}
#appsCompatibles .metapp{float: left; position: relative; width: 260px;}
#appsCompatibles .metapp h4{height: 40px;}

#appsCompatibles li{list-style: none; display: block; border-bottom: 1px solid white; height: 80px; padding: 15px; width: 415px; float: left; position: relative;}
#appsCompatibles li:nth-child(even){float: right;}
#appsCompatibles li:last-of-type, #appsCompatibles li:nth-last-of-type(2) {border: none;}

#appsCompatibles h2{padding: 5px 15px 0px 15px; line-height: 52px; border-bottom: 1px solid white;}
#appsCompatibles .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #333; margin: 0 15px 0 0;}
#appsCompatibles .metapp{float: left; position: relative; width: 260px;}
#appsCompatibles .metapp h4 {height: 40px;}
#appsCompatibles .price{background: #0f6eb4; width: 40px; padding: 0 5px; line-height: 21px; text-align: center; margin: 2px 0;}
#appsCompatibles .note{display: none;}
#appsCompatibles .os{float: left; position: relative; width: 60px; margin: 25px 0 0 0;}

#appsCompatibles .metaFooter{background: #ededed; height: 28px; padding: 0 15px;}
#appsCompatibles .metaFooter a{float: right;}

/* =========== NEWS =========== */

#news{background: white; min-height: 175px; border-bottom: 1px solid #a3a3a3; display: block;}

#news li{list-style: none; display: block; height: 80px; padding: 15px; width: 415px; float: left; position: relative;}
#news li:nth-child(even){float: right;}

#news h2{padding: 5px 15px 0px 15px; line-height: 52px; border-bottom: 1px solid white;}
#news .icone{float: left; position: relative; width: 80px; height: 80px; border-radius: 10px; background: #333; margin: 0 15px 0 0;}
#news .metapp{float: left; position: relative; width: 260px;}

#news .metaFooter{height: 28px; padding: 0 15px; background: none;}
#news .metaFooter a{float: right;}



/* =========== COMMENTAIRES in APPS =========== */

#commentaires .commentsList li{background: #cfe3e7; padding: 10px; margin: 10px auto;}
#commentaires .note{display: block;}
#commentaires .comment{margin: 10px 0;}


/* =========== SEARCH RESULTS =========== */

.search #listApps .allapps{margin: 50px 0 0 0; border-top: 1px solid #79c1d2;}

.social{margin: 20px 0 30px 0;}
.social div{width: 100%; margin: 5px auto;}

/* =========== RATE APP & DEVICES =========== */

.reviewPost label,
.reviewPost .rateit,
.noteGlobale label,
.noteGlobale .rateit{display: inline-block;}
.noteGlobale label{min-width: 110px; line-height: 10px;}

.reviewPost label{}

.commentPost{margin: 20px 0 0 0;}









